body{
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin: 0%;
    padding: 0%;
}

.page{
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 70vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

input:focus {
  border: none;
  outline: none; /* Recommended: also removes the default browser highlight */
}