body{
    margin: 0%;
    padding: 0%;
}

#page{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.buttons{
    background-color: white;
    display: flex;
    gap: 20px;
    border: none;
    box-shadow: 10px 10px 10px rgb(182, 182, 182);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 5%;
}